html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(110deg, #452b81 0%, #ab66d0 25%, #8d4736 75%, #2a25c5 100%);
}
a:hover {
    color: red;
}

.rossino:hover {
    color:red; 
}

dd img {
    width:500px;
}